@import url('http://fonts.cdnfonts.com/css/akira-expanded');
@import url('http://fonts.cdnfonts.com/css/montserrat');

:root{
    --white: #f7f7f7;
    --red: #F05454;
    --darkblue: #30475E;
    --black: #222831;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

i{
    color: var(--red);
}

body::before {
    content: '';
    height: 50px;
    display: block;
    background-color: var(--white);
}

body{
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-family: 'Akira Expanded', sans-serif;
    font-size: clamp(2rem, 5vw, 4rem);
}

/* NAVBAR */

nav .container-fluid,
nav ul{
    background-color: var(--white);
}

nav a{
    font-size: clamp(0.7rem, 4vw, 1.2rem);
}

.navbar-brand{
    font-family: 'Akira Expanded', sans-serif;
    color: var(--red);
}

.nav-link{
    color: var(--black);
}

.resume{
    text-decoration: none;
    color: white;
    border-radius: 5px;
    background-color: var(--red);

}

.navbar-toggle-icon{
    color: var(--black);
}

/* HEADER */

header{
    background-color: var(--white);
}

header .container{
    padding-top: 10vh;
}

header h1{
    font-size: clamp(3rem, 5vw, 5rem);
}

header .pb-3{
    color: var(--red);
    font-size: clamp(1rem, 4vw, 2rem);
}

header p{
    font-size: clamp(1rem, 4vw, 1.5rem);
}

header button{
    width: min(150px, 50%);
    font-size: clamp(1rem, 4vw, 1.2rem);
    background-color: var(--red);
    color: white;
    padding: 15px;
    border-radius: 10px
}

.header-phrase{
    color: var(--darkblue);
    font-size: clamp(1rem, 4vw, 2rem);
}

/* PROJECTS */

#projects::before{
    content: '';
    height: 70px;
    display: block;
}

#projects{
    background-color: var(--black);
}

#projects h1{
    color: var(--red);
    text-align: center;
}

#projects h2,p{
    color: var(--white);
}

.projnum, .tools{
    color: var(--red);
}

.projects img{
    padding: 10px;
    border-radius: 30px;
}

.skills img{
    padding: 0px important!;
}

#projects i{
    font-size: 1.7rem;
    padding: 1rem;
}

#projects p{
    font-size: clamp(1rem, 4vw, 1.5rem);
}
/* ABOUT ME */

#aboutme{
    background-color: var(--white);
}

#aboutme::before{
    content: '';
    height: 70px;
    display: block;
    background-color: var(--white);
}

#aboutme img{
    max-width: min(400px, 60%);
    border-radius: 50%;
    display: block;
    margin: auto;
}

#aboutme h1{
    text-align: center;
    color: var(--red);
}

.row-1 p{
    color: var(--black);
    font-size: clamp(1rem, 4vw, 1.3rem);
}

.card{
    background-color: var(--darkblue);
}

.card-title{
    color: var(--red);
}

.card-text{
    color: var(--white);
}
/* CONTACT */

#contact::before{
    content: '';
    height: 70px;
    display: block;
    background-color: var(--darkblue);
}

#contact{
    background-color: var(--darkblue);
}

#contact *{
    text-align: center;
}

#contact form *{
    margin: auto;
}

#contact h1{
    color: var(--red);
}

#contact a,
#contact a i{
    padding: 7px;
    font-size: 1.7rem;
}

#contact button{
    background-color: var(--red);
    margin-top: 7px;
    color: var(--white);
}

footer{
    background-color: var(--black);
    padding: 0;
    color: var(--white);

}